* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin MyFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: 'Gilroy';
    /* Name your font family */
    src: url('../Font//Gilroy-Medium.otf');
    /* Locate the .ttf file within your directory*/
}

// @include MyFlex();
.qrCode {
    background: #DFA4FC;
    @include MyFlex();
    flex-direction: column;
    min-height: 100vh;
    gap: 40px;
    padding: 50px;

    .logo {
        width: 350px;
        height: 200px;
        @include MyFlex();
        flex-direction: column;
        h1 {
            color: #763695;
            font-family: "Gilroy";
            font-size: 40px;

        }

        img {
            max-width: 100%;
        }
    }

    .links {
        margin-top: 20px;
        @include MyFlex();
        gap: 20px;
        padding: 20px 0px;
        flex-wrap: wrap;

        .linkBox {
            @include MyFlex();
            flex-direction: column;
            gap: 5px;

            .link {
                height: 100px;
                width: 100px;
                @include MyFlex();
                border-radius: 10px;
                border: 3px solid #763695;
                color: #763695;
                font-size: 50px;
                transition: 0.2s;

                &:hover {
                    background-color: #763695;
                    color: white;
                }

            }

            p {
                font-size: 20px;
                color: #763695;
                font-family: "Gilroy";
            }
        }


    }
}